body {
    background-color: rgb(152, 202, 155);
    padding: 2rem;
}
 header {
     background-color: hsl(143, 78%, 52%);
     padding: 1rem;
     border-radius: 7px;
 }
.left {
    display: flex;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 43);
    font-size: 2rem;
   
}
 ul {
    list-style: none;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 1.2rem;
 }

li {
    margin-right: 2rem;
}

button {
    margin-left: auto;
    border-radius: 10px;
    font-weight: 600;
    background-color: hsl(12, 82%, 49%);
    padding: 10px;
    color: white;
    border: none;
}
