body {
    background-color: hsl(124, 46%, 93%);
    padding: 2rem;
}
 header {
     background-color: #57f694;
     padding: 1rem;
     border-radius: 7px;
 }
.left {
    display: flex;
}

.mern {
    text-decoration: none;
    color: hwb(244 7% 9%);
    font-size: 2.3rem;
    border-right: solid;
    border-right-width: 5px;
    border-right-color: blueviolet;
    padding-right: 20px;
   
}
.nav {
    list-style: none;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 1.2rem;
 }

li {
    margin-right: 2rem;
}

button {
    margin-left: auto;
    border-radius: 5px;
    font-weight: 600;
    background-color: #f6f4f0;
    padding: 10px;
    background-color: orange;
    color: white;
    border: none;
}

.b1,h3 {
    padding: 10px;
    background-color: #84e2eb;
    border-left : solid;
    border-left-width: 8px;
    max-width: 180px;
    font-weight: bold;
    border-left-color: rgb(45, 89, 235);
    border-radius: 5px;
}

.commands {
    line-height: 2;
    font-weight: 500;
    font-size: 20px;
}

.p1 {
    font-size: 20px;

}

a{
    text-decoration: none;
}